body {
  background-color: rgba(125, 224, 133, 0.774);
  margin: 0%;
}

.loginregisterstyle {
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 1%;
  border: 5px solid rgb(211, 233, 11);
  border-radius: 10px;
  border-style: outset;
  width: 50%;
  line-height: 30px;
  background-color: rgb(68, 188, 218);
}

.navbar {
  position: fixed;
  background-color: aquamarine;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(0, 119, 255);
}

.navbar a {
  float: right;
  display: block;
  color: #000000;
  text-align: center;
  padding: 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: rgb(125, 224, 133);
}