.bodydesign{
  background: radial-gradient(rgb(255, 255, 255),rgb(204, 249, 255));
  margin: 0%;
  min-height: 1080px;
  font-family: Calibri, sans-serif;
}

h1 {
  color: rgb(0, 0, 0);
}

.mittig{
	margin:auto;
}

.fehlerbox{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
  top: 210px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: hsla(4, 100%, 56%, 0.897);
  visibility: hidden;
  font-family: Calibri, sans-serif;
}

.gutbox{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
  top: 210px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: hsla(106, 100%, 56%, 0.897);
  visibility: show;
  font-family: Calibri, sans-serif;
}

.registrierenButton{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  border-radius: 7px;
  border-color: rgba(23, 91, 219, 0.753);
  background-color: rgb(140, 234, 247);
  font-family: Calibri, sans-serif;
}

.registrierenButton:hover{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  border-radius: 7px;
  border-color: rgba(15, 60, 143, 0.753);
  background-color: rgb(111, 175, 184);
  font-family: Calibri, sans-serif;
}

.logoutButton{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(112, 226, 226));
  border: none;
  font-size: 15px;
  font-family: Calibri, sans-serif;
}

.logoutButton:hover{
	background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(15, 97, 97));
  font-weight: 900;
  font-family: Calibri, sans-serif;
}

.loginregisterstyle { /*id="loginregisterstyleid" oder id="textfeld"*/
  transform: translateX(-50%) translateY(-50%);
  top: 300px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 3px solid rgba(23, 91, 219, 0.753);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: rgb(188, 245, 245,0.25);
  min-width: 300px;
  font-family: Calibri, sans-serif;
}

.navbar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(112, 226, 226));
  /*linear-gradient(to top, rgba(255, 255, 255, 0),rgb(74, 255, 255));*/
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(51,0,153);
  font-family: Calibri, sans-serif;
}

.navbarunterLoginRegister{
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-family: Calibri, sans-serif;
}

.navbarunterHomepage{
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-family: Calibri, sans-serif;
}
.navbar a {
  float: right;
  display: block;
  color: #000000;
  width: 80px;
  text-align: center;
  padding: 16px;
  line-height: 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: Calibri, sans-serif;
}

.navbar a:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(15, 97, 97));
  font-weight: 900;
  font-family: Calibri, sans-serif;
}

.popupstyle {
  visibility: hidden;
  z-index: 1;
  transform: translateX(-50%) translateY(-50%);
  top: 500px;
  left: 50%;
  position: absolute;
  padding: 1%;
  border: 3px solid rgb(23, 91, 219);
  border-radius: 10px;
  border-style: outset;
  width: 38%;
  line-height: 30px;
  background-color: rgb(188, 245, 245);
  min-width: 300px;
  font-family: Calibri, sans-serif;
}

/*----------------Darkmodebeginn----------------*/
.bodydesigndark{
  background: radial-gradient(rgb(78, 158, 223),rgb(69, 12, 160));
  margin: 0%;
  min-height: 1080px;
  font-family: Calibri, sans-serif;
}

.fehlerboxdark{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
  top: 210px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: hsla(4, 100%, 56%, 0.897);
  visibility: hidden;
  font-family: Calibri, sans-serif;
}

.gutboxdark{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
  top: 210px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: hsla(106, 100%, 56%, 0.897);
  visibility: show;
  font-family: Calibri, sans-serif;
}

.registrierenButtondark{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  border-radius: 7px;
  border-color: rgba(23, 91, 219, 0.753);
  background-color: rgb(27, 154, 185);
  font-family: Calibri, sans-serif;
}

.registrierenButtondark:hover{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  border-radius: 7px;
  border-color: rgba(15, 60, 143, 0.753);
  background-color: rgb(96, 170, 255);
  font-family: Calibri, sans-serif;
}

.logoutButtondark{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(112, 226, 226));
  border: none;
  font-size: 15px;
  font-family: Calibri, sans-serif;
}

.logoutButtondark:hover{
	background: linear-gradient(to top, rgba(0, 0, 0, 0),rgb(125, 225, 255));
  font-weight: 900;
  font-family: Calibri, sans-serif;
}

.loginregisterstyledark { /*id="loginregisterstyleid" oder id="textfeld"*/
  transform: translateX(-50%) translateY(-50%);
  top: 300px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 3px solid rgba(23, 91, 219, 0.753);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: rgb(188, 245, 245,0.25);
  min-width: 300px;
  font-family: Calibri, sans-serif;
}

.navbardark {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(112, 226, 226));
  /*linear-gradient(to top, rgba(255, 255, 255, 0),rgb(74, 255, 255));*/
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(51,0,153);
  font-family: Calibri, sans-serif;
}

.navbarunterLoginRegisterdark{
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-family: Calibri, sans-serif;
}

.navbarunterHomepagedark{
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-family: Calibri, sans-serif;
}
.navbardark a {
  float: right;
  display: block;
  color: #000000;
  width: 80px;
  text-align: center;
  padding: 16px;
  line-height: 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: Calibri, sans-serif;
}

.navbardark a:hover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0),rgb(125, 225, 255));
  font-weight: 900;
  font-family: Calibri, sans-serif;
}

/*-----------------BeginnCreamy---------------*/

.bodydesigncreamy{
  background: radial-gradient(rgb(255, 251, 219),rgb(255, 249, 224));
  margin: 0%;
  min-height: 1080px;
  font-family: Calibri, sans-serif;
}

.fehlerboxcreamy{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
  top: 210px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: hsla(4, 100%, 56%, 0.897);
  visibility: hidden;
  font-family: Calibri, sans-serif;
}

.gutboxcreamy{
  font-size: 19px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  transform: translateX(-50%) translateY(-50%);
  top: 210px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 4px solid rgb(0, 0, 0);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: hsla(106, 100%, 56%, 0.897);
  visibility: show;
  font-family: Calibri, sans-serif;
}

.registrierenButtoncreamy{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  border-radius: 7px;
  border-color: rgba(23, 91, 219, 0.753);
  background-color: rgb(140, 234, 247);
  font-family: Calibri, sans-serif;
}

.registrierenButtoncreamy:hover{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  border-radius: 7px;
  border-color: rgba(15, 60, 143, 0.753);
  background-color: rgb(111, 175, 184);
  font-family: Calibri, sans-serif;
}

.logoutButtoncreamy{
	padding-bottom:6px;
	padding-top:6px;
	padding-left:10px;
	padding-right:10px;
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(112, 226, 226));
  border: none;
  font-size: 15px;
  font-family: Calibri, sans-serif;
}

.logoutButtoncreamy:hover{
	background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(15, 97, 97));
  font-weight: 900;
  font-family: Calibri, sans-serif;
}

.loginregisterstylecreamy { /*id="loginregisterstyleid" oder id="textfeld"*/
  transform: translateX(-50%) translateY(-50%);
  top: 300px;
  left: 50%;
  position: relative;
  padding: 1%;
  border: 3px solid rgba(23, 91, 219, 0.753);
  border-radius: 10px;
  border-style: outset;
  width: 35%;
  line-height: 30px;
  background-color: rgb(188, 245, 245,0.25);
  min-width: 300px;
  font-family: Calibri, sans-serif;
}

.navbarcreamy {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: relative;
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(112, 226, 226));
  /*linear-gradient(to top, rgba(255, 255, 255, 0),rgb(74, 255, 255));*/
  top: 0;
  width: 100%;
  overflow: hidden;
  color: rgb(51,0,153);
  font-family: Calibri, sans-serif;
}

.navbarunterLoginRegistercreamy{
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-family: Calibri, sans-serif;
}

.navbarunterHomepagecreamy{
  display: flex;
  flex-wrap: nowrap;
  line-height: 30px;
  font-family: Calibri, sans-serif;
}
.navbarcreamy a {
  float: right;
  display: block;
  color: #000000;
  width: 80px;
  text-align: center;
  padding: 16px;
  line-height: 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: Calibri, sans-serif;
}

.navbarcreamy a:hover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0),rgb(15, 97, 97));
  font-weight: 900;
  font-family: Calibri, sans-serif;
}