RewriteEngine On

RewriteRule ^homepage.html$ Browser/homepage.html
RewriteRule ^$ Browser/homepage.html
RewriteRule ^login.html$ Browser/login.html
RewriteRule ^registrieren.html$ Browser/registrieren.html
RewriteRule ^styles.css$ Browser/styles.css
RewriteRule ^bws.png$ Bilder/bws.png
RewriteRule ^support.html$ Browser/support.html 
RewriteRule ^tickets.html$ Browser/tickets.html
RewriteRule ^bilder.html$ Browser/bilder.html 
RewriteRule ^program.html$ Browser/program.html

RewriteRule ^LogIn$ Server/index.php
RewriteRule ^Register$ Server/index.php
RewriteRule ^Reseting$ Server/index.php