RewriteEngine On

RewriteRule ^$ Browser/homepage.html
RewriteRule ^homepage.html$ Browser/homepage.html
RewriteRule ^login.html$ Browser/Login.html
RewriteRule ^registrieren.html$ Browser/registrieren.html
RewriteRule ^styles.css$ Browser/styles.css
RewriteRule ^stylesHandy.css$ Browser/stylesHandy.css
RewriteRule ^bws.png$ Bilder/bws.png
RewriteRule ^support.html$ Browser/support.html 
RewriteRule ^tickets.html$ Browser/tickets.html
RewriteRule ^bilder.html$ Browser/bilder.html 
RewriteRule ^program.html$ Browser/program.html
RewriteRule ^Bestaetigung.html$ Browser/Bestaetigung.html
RewriteRule ^Freischalten_Menu.php$ Server/src/Freischalten_Menu.php
RewriteRule ^LoginRegistrierenSachen.js$ Browser/LoginRegistrierenSachen.js
RewriteRule ^passwortzuruck.html$ Browser/passwortzuruck.html
RewriteRule ^passwortzuruckemail.html$ Browser/passwortzuruckemail.html
RewriteRule ^einstellungen.html$ Browser/einstellungen.html

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule  ^(.*)$ Server/index.php
